.area{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    background-color: rgb(213, 228, 254);
}
.area__cadastro{
    height: 500px;
    width: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.imagem__cadastro{
    max-width: 100px;
    height: auto;
    margin-top: 20px;
}
form{
    width: 400px;
    background-color: var(--cor-branco);
    border-radius: 5px;
    padding: 20px;
    box-shadow:
  5.9px 2.2px 2.2px rgba(0, 0, 0, 0.035),
  14.2px 5.3px 5.3px rgba(0, 0, 0, 0.05),
  26.8px 10px 10px rgba(0, 0, 0, 0.06),
  47.8px 17.9px 17.9px rgba(0, 0, 0, 0.069),
  89.4px 33.4px 33.4px rgba(0, 0, 0, 0.08),
  214px 80px 80px rgba(0, 0, 0, 0.11)
;
}
input[type="email"], input[type="password"]{
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    box-sizing: border-box;
}
input[type= "email"]:focus, input[type="password"]:focus{
    border-color: var(--cor-botao);
    border-width: 2px;
}
button{
    width: 50%;
    padding: 8px;
    margin: 8px, 0;
    border: none;
    border-radius: 4px;
    color: var(--cor-branco);
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    background-image: linear-gradient(to right, #1e90ff, #4169e1);
    outline: none;
    box-sizing: border-box;
}
button:hover{
    background-image: linear-gradient(to right, #3cb0fd, #1c86ee);
}
.area__botoes{
    height: 50px;
    display: flex;
    gap: 8px;
}
.area__jaPossui{
    color: black;
    font-family: var(--texto);
    font-size: 14 px;
    background-image: linear-gradient(to right, #1e90ff, #4169e1);
    -webkit-background-clip: text;
    color: transparent;
}
.area__login{
    text-decoration: none;
    font-family: var(--texto);
    font-size: 18px;
    font-weight: 1000;
    color: var(--cor-roxo);
}
label{
    font-family: var(--texto);
}
.titulo__form{
    font-family: var(--texto);
    font-weight: 900;
    color: var(--cor-botao-cadastra-se);
    font-size: 22px;
}
.texto__form{
    margin-top: 8px;
    margin-bottom: 24px;
    font-family: var(-texto);
    font-size: 12px;
    display: inline-block;
    width: 100%;
    color: black;
}